/* Your styles go here */

*
	// Make paddings be included within the width
	box-sizing: border-box

.hidden
	display: none

.person
	background: black
	float: left
	border: 1px solid black
	position: relative

	&, .stream, .image, .viewo
		width: 320px
		height: 240px

	.name
		position: absolute
		bottom: 0
		left: 0
		width: 100%
		z-index: 500

		background: gray
		color: white

		height: 1em

.people
	background: gray
